################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/EnTea/bin
/EnTea/obj
/packages
/.vs
/EnTea.Bll/obj
/EnTea.Com/obj
/EnTea.Dao/obj
