<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title></title>
    <!-- css 文件 -->
    <link rel="stylesheet" href="/Content/plus/foundation/foundation.css">
</head>
<body>
<div>

</div>
</body>
</html>

<!-- JavaScript 文件 -->
<script src="/Content/js/jquery.js"></script>
<script src="/Content/plus/foundation/foundation.js"></script>
<script src="/Content/js/modernizr.js"></script>
